
.bg-dark-yellow{
    padding: 12px 20px;
    .navbar-toggler {
        background-color: rgb(34, 34, 34);
    }
    .toggler-icon{
        display: block;
        width: 24px;
        height: 2px;
        background-color: aliceblue;
        margin-top: 6px;
        margin-bottom: 6px;
    }
    background-color: rgba(255, 193, 28, 1);
    .nav-item{
        display: flex;
        align-items: center;
        .nav-link{
            font-size: 14px;
            color: rgba(34, 34, 34, 1);
            padding: 0px 18px 0px 18px;
            font-size: 14px;
        }
        .li-border-right {
            height: 22px;
            background-color: #767676;
            width: 1px;
        }
    }
}
.bg-dark-gray{
    background-color:rgb(34 34 34);
    .nav-item {
        display: flex;
        align-items: center;
        .nav-link{
            padding: 0px 18px 0px 18px;
            font-size: 14px;
        }
        .li-border-right {
            height: 35px;
            background-color: #bebcbc;
            width: 1px;
        }
    }
    .nav-link{
        color: white;
    }
}
.cred-buttons{

    .btn-login{
        border:1px solid black;
        width: 102px;
        transition: .4s;
        &:hover{
            background-color:black;
            color: white;
        }
    }
    .btn-register{
        width: 155px;
        background-color: black;
        color: white;
        transition: .4s;
        &:hover{
            background-color: transparent;
            border:1px solid black;
            color: black;
        }
    }
}

@media only screen and (max-width: 600px) {
    .cred-buttons{
         .btn-login{
        width: 50px;
        font-size: 14px;
    }
    .btn-register{
        width: 100px;
        font-size: 14px;
    }
}
  }
  @media only screen and (max-width: 992px){
 .bg-dark-yellow{
    .nav-item{
        .nav-link{
            padding: 12px 10px;
        }
        .li-border-right {
            width: 0px;
        }
      }
 } 
}
@media only screen and (max-width: 768px){
  .cred-buttons{
    .btn-login{
        width: 70px;
        font-size: 14px;
    }
    .btn-register{
        width: 120px;
        font-size: 14px;
    }
  }  
}
@media only screen and (max-width: 450px){
    .cred-buttons{
      .btn-login{
        width: 50px;
        font-size: 11px;
      }
      .btn-register{
        width: 99px;
        font-size: 11px;
      }
    }  
    .navbar-toggler{
        padding: 2px 9px;
    }
  }



