<header>
    <div class="container-fluid d-flex align-items-center justify-content-between bg-dark-yellow">
        <nav class="navbar navbar-expand-lg  d-flex align-items-center justify-content-start">
            <button class="navbar-toggler  shadow-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
            </button>
            <a class="navbar-brand ms-3 pb-0 me-0" href="#">
                <img src="../../assets/icons/logo.png">
            </a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link" aria-current="page" href="#">
                            Exchange
                        </a>
                        <div class="li-border-right"></div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="#">Virtual sports</a>
                        <div class="li-border-right"></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sportbook</a>
                        <div class="li-border-right"></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Casino</a>
                        <div class="li-border-right"></div>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Promotion</a>
                        <div class="li-border-right"></div>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Blog</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="cred-buttons d-flex ">
            <button class="btn btn-login mx-2">Login</button>
            <button class="btn btn-register">Register Now</button>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg bg-dark-gray d-none d-lg-block">
        <div class="container-fluid">
            <ul class="navbar-nav ms-5">
                <li class="nav-item ">
                    <a class="nav-link " aria-current="page" href="#">
                        In Play
                    </a>
                    <div class="li-border-right"></div>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">
                        <img src="../../assets/icons/Cricket.svg" alt="icon"> Cricket
                    </a>
                    <div class="li-border-right"></div>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">
                        <img src="../../assets/icons/Soccer.svg" alt="icon"> Soccer
                    </a>
                    <div class="li-border-right"></div>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">
                        <img src="../../assets/icons/Tennis.svg" alt="icon"> Tennis
                    </a>
                    <div class="li-border-right"></div>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="#">
                        <img src="../../assets/icons/Basketball.svg" alt="icon"> Basketball
                    </a>
                    <div class="li-border-right"></div>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">
                        <img src="../../assets/icons/Horse Racing.svg" alt="icon"> Horse Racing
                    </a>
                    <div class="li-border-right"></div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="../../assets/icons/Greyhound Racing.svg" alt="icon"> Greyhound Racing
                    </a>

                </li>
            </ul>
        </div>
    </nav>
</header>