<footer>
    <div class="container ">
        <div class="footer-top px-5 footer-top d-flex  flex-column">
                 <span class="d-block text-center">Accept ,Payment and disburse digital payments for your business</span>
                 <div class="d-flex justify-content-center p-0 ">
                            <ul class="d-flex justify-content-center flex-wrap align-items-center mt-3">
                                <li ><img src="../../assets/icons/visa.svg" alt="icon"></li>
                                <li ><img src="../../assets/icons/master card.svg" alt="icon"></li>
                                <li><img src="../../assets/icons/image 138.svg" alt="icon"></li>
                                <li><img src="../../assets/icons/image 139.svg" alt="icon"></li>
                                <li><img src="../../assets/icons/image 140.svg" alt="icon"></li>
                                <li><img src="../../assets/icons/image 141.svg" alt="icon"></li>
                               
                             </ul>
                
            </div>
    </div>
</div>
<div class="footer-center">
    <div class="container">
        <div class="row ">
            <div class="col-12 col-xl-6">
                 <div class="logo-col ">
                    <div class="d-block-md d-none">
                        <a class="mt-2 d-block " href="#"><img src="../../assets/icons/Group 1.png" alt="icon"></a>
                        <p  >we are a trusted and licensed indian betting website that offers a wide range of  
                            sports betting options. our user-friendly interface, competitive adds and live betting
                            and streaming feature provide an immersive betting option
                        </p>
                    </div>
                      <app-social-icons></app-social-icons>
                 </div>
            </div>
            <div class="col-12 col-md-4 col-xl-2 d-block-md d-none">
                <div class="game-col">
                <h5>Game</h5>
                <ul class="p-0">
                    <li><a href="#"  class="pt-2 d-block">Online Game Betting</a></li>
                    <li><a href="#" class="pt-1 d-block" >Card Game</a></li>
                    <li><a href="#" class="pt-1 d-block">Cricket Betting</a></li>
                    <li><a href="#"class="pt-1 d-block" >Lpl Betting</a></li>
                    <li><a href="#" class="pt-1 d-block">Football Betting</a></li>
                    <li><a href="#" class="pt-1 d-block">Tennis Betting</a></li>
                    <li><a href="#"class="pt-1 d-block" >Live Casino Betting</a></li>
                    <li><a href="#" class="pt-1 d-block">Fairplay Online Betting App</a></li>
                </ul>
            </div>
            </div>
            <div class="col-12 col-md-4  col-xl-2 d-block-md d-none">
                <div class="game-col">
                <h5>Company</h5>
                <ul class="p-0">
                    <li><a href="#"  class="pt-2 d-block">About Us</a></li>
                    <li><a href="#" class="pt-1 d-block">Rules & Regulations</a></li>
                    <li><a href="#" class="pt-1 d-block">Privacy Policy</a></li>
                    <li><a href="#" class="pt-1 d-block">Reponsible Gaming</a></li>
                    <li><a href="#" class="pt-1 d-block">Terms & Conditons</a></li>
                    <li><a href="#" class="pt-1 d-block">FAQ</a></li>
                    <li><a href="#" class="pt-1 d-block">Loyality</a></li>
                    <li><a href="#" class="pt-1 d-block">Contact Us</a></li>
                </ul>
            </div>
            </div>
            <div class="col-12 col-md-4  col-xl-2  d-block-md d-none ">
                <div class="game-col">
                <h5>Resources</h5>
                <ul class="p-0">
                    <li><a href="#"  class="pt-2 d-block">Blogs</a></li>
                    <li><a href="#" class="pt-1 d-block">Fairplay News</a></li>
                    <li><a href="#" class="pt-1 d-block">Sportsbook Betting</a></li>
                    <li><a href="#" class="pt-1 d-block">Affiliate</a></li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <div class="row m-0">
            <div class="col-12 d-flex flex-column flex-md-row align-items-center">
                <a href="#"><img src="../../assets/icons/image 124.png" alt="icon"></a> 
            <div class="col-detail desclaimer d-flex flex-column justify-content-center ms-4 mt-3 mt-md-0">
                <span class="d-block d-block-md d-none">Desclaimer:</span>
                <p class="pt-2">Please note that gaming involves a financial risk and could be addictive over time if not practised within limits.
                    Only 18+ people should use the services and should use it respectively. Players should be aware of only financial risk and govern themselves accordingly.
                </p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="copyright">
    <div class="container">
        <span class="d-block text-center">&copy;2023 SatSport. All Rights Reserved</span>
    </div>
</div>
</footer>