<ul class="d-flex p-0 flex-wrap justify-content-center align-items-center justify-content-md-start align-items-md-start row-gap-3">
    <li><a href="#" class="me-2"> <img src="../../assets/icons/whatsapp.svg" alt="icon"></a></li>
    <li><a href="#" class="me-2"> <img src="../../assets/icons/telegram.svg" alt="icon"></a></li>
    <li><a href="#" class="me-2"> <img src="../../assets/icons/facebook.svg" alt="icon"></a></li>
    <li><a href="#" class="me-2"> <img src="../../assets/icons/google.svg" alt="icon"></a></li>
    <li><a href="#" class="me-2"> <img src="../../assets/icons/twitter.svg" alt="icon"></a></li>
    <li><a href="#" class="me-2"> <img src="../../assets/icons/youtube.svg" alt="icon"></a></li>
    <li><a href="#"> <img src="../../assets/icons/instagram.svg" alt="icon"></a></li>
   </ul>