<div class="main-slider mt-3">
    <div id="carouselExampleAutoplaying" data-bs-ride="carousel" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/icons/slide-1.png" class="slide-image d-block w-100" alt="slide-image">
            <div class="carousel-caption ">
              <h5>Join SAT SPORT and Get</h5>
              <h2>300 Bonus Points</h2>
                <div class="d-flex">
                    <div class="text">
                        <div class="d-flex align-items-center"> <img class="svg-arrow" src="../../assets/icons/Mask.svg"  alt="icon"> <div class="text-yellow ms-2 me-2">15 </div> Minutes Withdrawal </div>
                        <div class="d-flex align-items-center"><img class="svg-arrow" src="../../assets/icons/Mask.svg"  alt="icon"> <div class="text-yellow ms-2  me-2">24/7 </div> Customer Support </div>
                        <div class="d-flex align-items-center"><img class="svg-arrow" src="../../assets/icons/Mask.svg"  alt="icon"> <div class="text-yellow ms-2  me-2">FREE </div> & Fast Payouts</div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <button class="start-button d-flex justify-content-center align-items-center ms-3">Start Playing</button>
                    </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../assets/icons/slide-1.png" class="slide-image d-block w-100" alt="slide-image">
            <div class="carousel-caption ">
                <h5>Get In Touch</h5>
                <h2>200 Bonus Points</h2>
                  <div class="d-flex">
                      <div class="text">
                          <div class="d-flex align-items-center"> <img class="svg-arrow" src="../../assets/icons/Mask.svg"  alt="icon"> <div class="text-yellow ms-2 me-2">15 </div> Minutes Withdrawal </div>
                          <div class="d-flex align-items-center"><img class="svg-arrow" src="../../assets/icons/Mask.svg"  alt="icon"> <div class="text-yellow ms-2  me-2">24/7 </div> Customer Support </div>
                          <div class="d-flex align-items-center"><img class="svg-arrow" src="../../assets/icons/Mask.svg"  alt="icon"> <div class="text-yellow ms-2  me-2">FREE </div> & Fast Payouts</div>
                      </div>
                      <div class="d-flex justify-content-center align-items-center">
                          <button class="start-button d-flex justify-content-center align-items-center ms-3">Get Now</button>
                      </div>
                </div>
              </div>
          </div>
          <div class="carousel-item">
            <img src="../../assets/icons/slide-1.png" class="slide-image d-block w-100" alt="slide-image">
            <div class="carousel-caption ">
                <h5>Contact Us</h5>
                <h2>100 Bonus Points</h2>
                  <div class="d-flex">
                      <div class="text">
                          <div class="d-flex align-items-center"> <img class="svg-arrow" src="../../assets/icons/Mask.svg"  alt="icon"> <div class="text-yellow ms-2 me-2">15 </div> Minutes Withdrawal </div>
                          <div class="d-flex align-items-center"><img class="svg-arrow" src="../../assets/icons/Mask.svg"  alt="icon"> <div class="text-yellow ms-2  me-2">24/7 </div> Customer Support </div>
                          <div class="d-flex align-items-center"><img class="svg-arrow" src="../../assets/icons/Mask.svg"  alt="icon"> <div class="text-yellow ms-2  me-2">FREE </div> & Fast Payouts</div>
                      </div>
                      <div class="d-flex justify-content-center align-items-center">
                          <button class="start-button d-flex justify-content-center align-items-center ms-3">Contact us</button>
                      </div>
                </div>
              </div>
          </div>
        </div>
      </div>
</div>
