<div class="inplay-container shadow-lg d-block-sm d-none" #div_element>
    <div class="d-flex">
      <div class="icons d-flex justify-content-between">
        <div class="icon-1 d-flex flex-column justify-content-center align-items-center">
          <img src="../assets/icons/inplay-1.svg" alt="icon">
          Sports
        </div>
        <img src="../assets/icons/Rectangle 40203.svg" alt="icon">
        <div class="icon-2 d-flex flex-column justify-content-center align-items-center">
          <img src="../assets/icons/inplay-2.svg" alt="icon">
          Casino
        </div>
      </div>
      <div class="inplay-circle d-flex justify-content-center">
        <div class="inplay-button cursor-pointer d-flex justify-content-center
         flex-column align-items-center" (click)="closeInplay()">
          <img src="../assets/icons/inplay-icon.svg" class="icon" alt="icon">
          <h6>In-Paly</h6>
          <img src="../assets/icons/Ellipse 4.svg" class="btn-bg-img" alt="image">
        </div>
      </div>
      <div class="icons d-flex justify-content-between">
        <div class="icon-1 d-flex flex-column justify-content-center align-items-center">
          <img src="../assets/icons/inplay-3.svg" alt="icon">
          Lottery
        </div>
        <img src="../assets/icons/Rectangle 40203.svg" alt="icon">
        <div class="icon-2 d-flex flex-column justify-content-center align-items-center">
          <img src="../assets/icons/inplay-4.svg" alt="icon">
          Setting
        </div>
      </div>
    </div>
  </div>