/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/css?family=Poppins';
body{
   background-color: #ece8d5;
   font-family: 'Poppins' !important;
}

.cursor-pointer{
    &:hover{
        cursor: pointer;
    }
}